@font-face { 
    font-family: "Architects Daugther";   
    src: url("../fonts/ArchitectsDaughter-Regular.ttf");
}

a{
    text-decoration: none;
    color: #000000;
}

#sub_block{
    position: absolute;
    z-index: 1;
    transform: translate(-160px, 120px);
}

#sub_menu{
    width: 180px;
    height: auto;
    background-color: transparent;
    box-shadow: 10px 10px 50px 0px #0000004d;
}

.sub_box{
    width: auto;
    height: 75px;
    line-height: 70px;
    font-family: "Trebuchet MS";
    font-size: 18pt;
    text-align: center;
    background-color: #ffffff;
    border-right: 5px #403dff solid;
    color: #000000;
    transition: 0.5s;
}

.sub_box:hover{
    transform: scale(1.1);
    transition: 0.5s;
    transform: translate(150px, 0px);
}

/* ----------------------------------------- */
.box_drop1:hover, .box_drop2:hover, .box_drop3:hover{
    background-color: #000000;
    color: #fff;
    transition: 0.5s;
}

.box_drop1{
    width: 250px;
    height: 75px;
    font-size: 14pt;
    display: none;
    color: #000000;
    background-color: #ffffff;
    border-right: 5px #000 solid;
}

.sub_box:hover .box_drop1{
    display: block;
    position: absolute;
    left: 180px;
    top: 0px;
}

.box_drop2{
    width: 250px;
    height: 75px;
    font-size: 14pt;
    display: none;
    color: #000000;
    background-color: #ffffff;
    border-right: 5px #000 solid;
    position: absolute;
    top: 140px;
}

.sub_box:hover .box_drop2{
    display: block;
    position: absolute;
    left: 180px;
    top: 75px;
}

.box_drop3{
    width: 250px;
    height: 75px;
    font-size: 14pt;
    display: none;
    color: #000000;
    background-color: #ffffff;
    border-right: 5px #000 solid;
    position: absolute;
    top: 140px;
}

.sub_box:hover .box_drop3{
    display: block;
    position: absolute;
    left: 180px;
    top: 150px;
}

#content_space{
    width: 1150px;
    height: auto;
    /* border: 1px #000 solid; */
    left: 50px;
    top: 100px;
    position: absolute;
}

.code_title{
    text-align: center;
    font-family: "Architects Daugther";
}