@font-face { 
    font-family: "Architects Daugther";   
    src: url("../fonts/ArchitectsDaughter-Regular.ttf");
}

a{
    text-decoration: none;
    color: #000000;
}

#sub_block{
    position: absolute;
    z-index: 1;
    transform: translate(-160px, 120px);
}

#sub_menu{
    width: 180px;
    height: auto;
    background-color: transparent;
    box-shadow: 10px 10px 50px 0px #0000004d;
}

.sub_box{
    width: auto;
    height: 75px;
    line-height: 70px;
    font-family: "Trebuchet MS";
    font-size: 18pt;
    text-align: center;
    background-color: #ffffff;
    border-right: 5px #ff943d solid;
    color: #000000;
    transition: 0.5s;
}

.sub_box:hover{
    transform: scale(1.1);
    transition: 0.5s;
    transform: translate(150px, 0px);
}

/* ----------------------------------------- */
.box_drop1:hover, .box_drop2:hover, .box_drop3:hover{
    background-color: #000000;
    color: #fff;
    transition: 0.5s;
}

.box_drop1{
    width: 250px;
    height: 75px;
    font-size: 14pt;
    display: none;
    color: #000000;
    background-color: #ffffff;
    border-right: 5px #000 solid;
}

.sub_box:hover .box_drop1{
    display: block;
    position: absolute;
    left: 180px;
    top: 0px;
}

.box_drop2{
    width: 250px;
    height: 75px;
    font-size: 14pt;
    display: none;
    color: #000000;
    background-color: #ffffff;
    border-right: 5px #000 solid;
    position: absolute;
    top: 140px;
}

.sub_box:hover .box_drop2{
    display: block;
    position: absolute;
    left: 180px;
    top: 75px;
}

.box_drop3{
    width: 250px;
    height: 75px;
    font-size: 14pt;
    display: none;
    color: #000000;
    background-color: #ffffff;
    border-right: 5px #000 solid;
    position: absolute;
    top: 140px;
}

.sub_box:hover .box_drop3{
    display: block;
    position: absolute;
    left: 180px;
    top: 150px;
}

#content_space{
    width: 1150px;
    height: auto;
    /* border: 1px #000 solid; */
    left: 50px;
    top: 100px;
    position: absolute;
}

.code_title{
    text-align: center;
    font-family: "Architects Daugther";
}

#text_css{
    font-family: "Trebuchet MS";
    font-size: 150pt;
    left: 475px;
    bottom: 75px;
    font-weight: normal;
    position: fixed;
}

#text_canvas{
    font-family: "Trebuchet MS";
    font-size: 150pt;
    left: 300px;
    bottom: 75px;
    font-weight: normal;
    position: fixed;
}

#text_home{
    font-family: "Trebuchet MS";
    font-size: 150pt;
    left: 375px;
    bottom: 75px;
    font-weight: normal;
    position: fixed;
}

/* HOMEPAGE SVG's */
#gnome_home{
    transform: scale(0.3);
    left: 423px;
    bottom: 100px;
    z-index: -1;
    position: fixed;
}

#ok_home{
    transform: scale(1.0);
    left: -20px;
    bottom: -20px;
    z-index: -1;
    position: fixed;
}

#pepe_home{
    transform: scaleX(-1);
    left: 900px;
    bottom: 350px;
    z-index: -1;
    position: fixed;
}

#stonks_home{
    transform: scale(0.9);
    left: 50px;
    bottom: 300px;
    z-index: -1;
    position: fixed;
}

#chad_home{
    transform: scale(0.8);
    left: 850px;
    bottom: -50px;
    z-index: -1;
    position: fixed;
}

#home_konosuba{
    transform: scale(0.240);
    left: -660px;
    bottom: -205px;
    z-index: -1;
    position: fixed;
}

/* Canvas Page */
#canvas_tpose{
    transform: scale(0.7);
    left: 675px;
    bottom: -100px;
    z-index: -1;
    position: fixed;
}

#canvas_woman{
    transform: scale(0.7);
    left: -50px;
    bottom: -75px;
    z-index: -1;
    position: fixed;
}

/* CSS Page */
#css_redsus{
    transform: scale(1.0);
    left: 0px;
    bottom: 0px;
    z-index: -1;
    position: fixed;
}

#css_padoru{
    transform: scaleX(-1);
    left: 900px;
    bottom: 25px;
    z-index: -1;
    position: fixed;
}

#css_uganda{
    transform: scale(1.0);
    left: 500px;
    bottom: 25px;
    z-index: -1;
    position: fixed;
}

/* SVG PAGE */
#svg_oregairu{
    transform: scale(0.3);
    left: -1260px;
    bottom: -225px;
    z-index: -1;
    position: fixed;
}

#svg_menacing1{
    transform: scale(0.6);
    left: 100px;
    bottom: 125px;
    z-index: -1;
    position: fixed;
    animation: menace 0.9s ease-in-out infinite;
}

@keyframes menace{
    0%{
        transform: translate(10px, 0px) scale(0.6);
    }
    25%{
        transform: translate(-5px, 5px) rotate(1deg) scale(0.6);
    }
    50%{
        transform: translate(5px, 10px) rotate(-1deg) scale(0.6);
    }
    75%{
        transform: translate(-10px, 5px) scale(0.6);
    }
    100%{
        transform: translate(10px, 0px) scale(0.6);
    }
}

#svg_menacing2{
    transform: scale(0.6);
    left: 900px;
    bottom: 125px;
    z-index: -1;
    position: fixed;
    animation: menace 0.9s ease-in-out infinite;
    animation-delay: 0.3s;
}